<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
    <head>
        <title>List</title>
    </head>
    <body>
        <ui:define name="title">
            ${msg.let}
        </ui:define>

        <ui:composition template="../template.xhtml">

            <ui:define name="box">

                <h:form styleClass="editContent">

                    <div class="form-wrapper">

                        <h:inputHidden value="#{let.letTO.id}" />

                        <h2 class="heading-login">${msg.vlozeniLetu}</h2>

                        <div id="addingForm-flight">

                            <p>
                                <h:outputLabel for="odlet" value="${msg.odlet} (datum a čas): " /> <br />
                                <h:inputText id="odlet" value="#{let.selectedOdlet}" styleClass="datepicker input-adding" required="true" />
                            </p>

                            <p>
                                <h:outputLabel for="prilet" value="${msg.prilet} (datum a čas): " /> <br />
                                <h:inputText id="prilet" value="#{let.selectedPrilet}" styleClass="datepicker input-adding" required="true" /> 
                            </p>

                            <p>                                
                                <h:outputLabel for="odkud" value="${msg.odkud}: " /> <br />
                                <h:selectOneMenu value="#{let.selectedOdkud}" converter="javax.faces.Long" required="true" styleClass="input-adding-select">
                                    <f:selectItem itemLabel="${msg.zvolte_destinaci}" itemValue="" />
                                    <f:selectItems value="#{let.vsetkyDestinace}" var="d" itemLabel="#{d.stat}, #{d.mesto}" itemValue="#{d.id}" />
                                </h:selectOneMenu>
                            </p>

                            <p>                                
                                <h:outputLabel for="kam" value="${msg.kam}: " /> <br />
                                <h:selectOneMenu value="#{let.selectedKam}" converter="javax.faces.Long" required="true" styleClass="input-adding-select">
                                    <f:selectItem itemLabel="${msg.zvolte_destinaci}" itemValue="" />
                                    <f:selectItems value="#{let.vsetkyDestinace}" var="d" itemLabel="#{d.stat}, #{d.mesto}" itemValue="#{d.id}"/>
                                </h:selectOneMenu>
                            </p>

                            <p>                                
                                <h:outputLabel for="letadlo" value="${msg.letadlo}: " /> <br />
                                <h:selectOneMenu value="#{let.selectedLetadlo}" converter="javax.faces.Long" required="true" styleClass="input-adding-select">
                                    <f:selectItem itemLabel="${msg.zvolte_letadlo}" itemValue="" />
                                    <f:selectItems value="#{let.vsetkyLetadla}" var="d" itemLabel="#{d.nazov}" itemValue="#{d.id}"/>
                                </h:selectOneMenu>
                            </p>

                            <p>                                
                                <h:outputLabel for="letusky" value="#{msg.letusky}: " /> <br />
                                <h:selectManyListbox value="#{let.selectedLetusky}" converter="javax.faces.Long" required="true" styleClass="input-adding-list" >
                                    <f:selectItems value="#{let.vsetkyLetusky}" var="l" itemLabel="#{l.meno} #{l.priezvisko}" itemValue="#{l.id}" />
                                </h:selectManyListbox>
                            </p>

                            <p>
                                <h:commandButton value="${msg.uloz}" action="#{let.uloz()}" styleClass="addingSave" />
                            </p>

                        </div>

                    </div>

                    <ui:remove>
                        <h:inputHidden value="#{let.letTO.id}" />

                        <h:outputLabel for="odlet" value="${msg.odlet} (datum a čas): " />
                        <h:inputText id="odlet" value="#{let.selectedOdlet}" styleClass="datepicker" required="true"/>
                        <br/><br/>

                        <h:outputLabel for="prilet" value="${msg.prilet} (datum a čas): " />
                        <h:inputText id="prilet" value="#{let.selectedPrilet}" styleClass="datepicker" required="true"/>
                        <br/><br/>

                        <h:outputLabel for="odkud" value="${msg.odkud}" />
                        <h:selectOneMenu id="odkud" value="#{let.selectedOdkud}" converter="javax.faces.Long" required="true">
                            <f:selectItem itemLabel="${msg.zvolte_destinaci}" itemValue="" />
                            <f:selectItems value="#{let.vsetkyDestinace}" var="d" itemLabel="#{d.stat}, #{d.mesto}" itemValue="#{d.id}"/>
                        </h:selectOneMenu>
                        <br/><br/>

                        <h:outputLabel for="kam" value="${msg.kam}" />
                        <h:selectOneMenu id="kam" value="#{let.selectedKam}" converter="javax.faces.Long" required="true">
                            <f:selectItem itemLabel="${msg.zvolte_destinaci}" itemValue="" />
                            <f:selectItems value="#{let.vsetkyDestinace}" var="d" itemLabel="#{d.stat}, #{d.mesto}" itemValue="#{d.id}"/>
                        </h:selectOneMenu>
                        <br/><br/>

                        <h:outputLabel for="letadlo" value="${msg.letadlo}" />
                        <h:selectOneMenu id="letadlo" value="#{let.selectedLetadlo}" converter="javax.faces.Long" required="true">
                            <f:selectItem itemLabel="${msg.zvolte_letadlo}" itemValue="" />
                            <f:selectItems value="#{let.vsetkyLetadla}" var="d" itemLabel="#{d.nazov}" itemValue="#{d.id}"/>
                        </h:selectOneMenu>
                        <br/><br/>

                        <h:outputLabel for="letusky" value="#{msg.letusky}" />
                        <h:selectManyListbox id="letusky" value="#{let.selectedLetusky}" converter="javax.faces.Long" required="true">
                            <f:selectItems value="#{let.vsetkyLetusky}" var="l" itemLabel="#{l.meno} #{l.priezvisko}" itemValue="#{l.id}" />
                        </h:selectManyListbox>
                        <br/><br/>
                        <h:commandButton value="${msg.uloz}" action="#{let.uloz()}" />
                    </ui:remove>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
