/*! normalize.css v2.1.3 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9.
 */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
{
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,canvas,video {
    display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not ([controls] ) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],template {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,a:hover {
    outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,kbd,pre,samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
    white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
    border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not (:root ) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
    margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,input,select,textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 0; /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,html input[type="button"], /* 1 */ input[type="reset"],input[type="submit"]
{
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration
{
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ==========================================================================
   Airport styles
   ========================================================================== */
html {
    min-height: 100%;
}

/* ==========================================================================
   Clearfix class
*/
.clearfix {
    *zoom: 1;
    width: 800px;
}

.clearfix:before,.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Skeleton
*/
body {
    min-height: 100%;
    font: normal 14px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 30px;
    color: #333;
    background-repeat: no-repeat;
    background-color: #fffff4; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(top, #edfbf2 0%, #fffff4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edfbf2),
        color-stop(100%, #fffff4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #edfbf2 0%, #fffff4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #edfbf2 0%, #fffff4 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #edfbf2 0%, #fffff4 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #edfbf2 0%, #fffff4 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edfbf2',
        endColorstr='#fffff4', GradientType=0); /* IE6-8 */
}

hr {
    margin: 0;
    border: 0;
    border-top: 2px solid black;
    opacity: .08;
    margin-bottom: 14px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.wrapper {
    width: 1004px;
    margin: 0 auto;
}

th {
    padding: 20px 30px 15px 30px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: left;
}

td {
    padding: 15px 20px 15px 30px;
}

tr:hover {
    background: #f4f4f4;
}

:focus {
    outline: 0;
}


/* ==========================================================================
   Header
*/
header {
    width: 100%;
    height: 53px;
    background-color: #f09360;
    border-bottom: 3px #e1eee6 solid;
    padding-top: 27px;
}

#logotype {
    background: url("../img/logo.png") no-repeat top center;
    width: 218px;
    height: 27px;
    margin: 0 auto;
    display: block;
}

.button-signin {
    margin-top: -36px;
    float: right;
    background: #e37b42;
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 90px;
    height: 28px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.button-signin:hover {
    background: #bf4e10;
}

.button-signout {
    margin-top: -36px;
    float: right;
    background: #e37b42;
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 134px;
    height: 28px;
    padding: 8px 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.button-signout:hover {
    background: #bf4e10;
}


/* ==========================================================================
   Body
*/
.table-flights-name {
    margin-top: 80px;
}

h1 {
    font-family: Nunito;
    font-size: 36px;
}

.heading-login {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
}

h2 {
    font-family: Nunito;
    font-size: 26px;
    display: inline;
}

#content {
    margin-bottom: 80px;
}

.form-wrapper {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
}

#login-info {
    line-height: 22px;
    font-size: 13px;
    color: #666666;
    margin-bottom: 30px;
}

.input-login {
    border-radius: 5px;
    height: 32px;
    width: 378px;
    border: 1px solid #e8e8e8;
    padding-left: 20px;
}

.button-login {
    background: #41cc41;
    background: rgba(75,219,75,1);
    background: rgba(46,194,46,1);
    background: -moz-linear-gradient(left, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,194,46,1)), color-stop(100%, rgba(66,204,66,1)));
    background: -webkit-linear-gradient(left, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    background: -o-linear-gradient(left, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    background: linear-gradient(to right, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec22e', endColorstr='#42cc42', GradientType=1 );
    border: 1px solid #2ec22e;

    padding: 12px 20px;
    display: block;
    color: white;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.6);
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    width: 400px;
}

.button-login:hover {
    background: #31bb31;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.6);
    border: 1px solid #2ec22e;
}

#table-header-detail {
    margin-top: 30px; 
    background: url("../img/table-head2.png") no-repeat; 
    width: 1008px;
}

.table-flights thead {
    border-bottom: 2px solid #eeeeee;
}

.table-flights tr {
    border-bottom: 1px solid #eeeeee;
}

.table-attributes {
    height: 60px;
    border-bottom: 2px solid #eee;
    text-align: left;
}

.table-entity thead {
    height: 60px;
    border-bottom: 2px solid #eee;
    text-align: left;
}

.table-entity tr {
    border-bottom: 1px solid #f4f4f4;
}

.table-flights {
    width: 994px;
    background: white;
    position: relative;
    top: 5px;
    margin: 180px auto;
    margin-bottom: 80px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12), inset 0px 7px 8px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12), inset 0px 7px 8px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12), inset 0px 7px 8px 0px rgba(0, 0, 0, 0.07);
    border-collapse: collapse;
    padding: 0px 50px 10px 50px;
}

.table-entity {
    width: 470px;
    height: auto;
    background: white;
    margin: 80px 0;
    margin-bottom: 60px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #f4f4f4;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.column-space {
    width: 50px;
}

.plus {
    background: url("../img/plus.png") no-repeat;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 9px;
}

.plus:hover {
    background-position: 0 -14px;
}

.trash {
    background: url("../img/trash.png") no-repeat;
    width: 14px;
    height: 16px;
    display: inline-block;
}

.trash:hover {
    background-position: 0 -16px;
}

.edit {
    background: url("../img/edit.png") no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.edit:hover {
    background-position: 0 -16px;
}

.editContent {
    margin-top: 30px
}

.addingForm {
    margin-top: 60px;
    width: auto;
    height: 280px;
}

#addingForm-flight {
    margin-top: 60px;
    width: auto;
    height: 540px;
}

#addingLabels {
    text-align: left;
    font-size: 14px;
    line-height: 36px;
}

#addingValues {
    text-align: left;
    font-size: 14px;
    line-height: 36px;
}

.input-adding {
    border-radius: 5px;
    height: 32px;
    width: 178px;
    border: 1px solid #e8e8e8;
    padding-left: 20px;
}

.input-adding-select {
    border-radius: 5px;
    height: 32px;
    width: 198px;
    border: 1px solid #e8e8e8;
    padding-left: 20px;
}

.input-adding-list {
    border-radius: 5px;
    height: auto;
    width: 198px;
    border: 1px solid #e8e8e8;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.addingSave {
    background: #41cc41;
    background: rgba(75,219,75,1);
    background: rgba(46,194,46,1);
    background: -moz-linear-gradient(left, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,194,46,1)), color-stop(100%, rgba(66,204,66,1)));
    background: -webkit-linear-gradient(left, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    background: -o-linear-gradient(left, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    background: linear-gradient(to right, rgba(46,194,46,1) 0%, rgba(66,204,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec22e', endColorstr='#42cc42', GradientType=1 );
    border: 1px solid #2ec22e;

    padding: 12px 20px;
    display: block;
    color: white;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.6);
    font-weight: 700;
    border-radius: 5px;
    outline: none;
    width: 100px;

    margin: 0 auto;
    margin-top: 30px;
}

.addingSave:hover {
    background: #31bb31;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 0.6);
    border: 1px solid #2ec22e;
}

.error-message {
    border-radius: 5px;
    border: 1px solid #88e2ff;
    background: #E1F1F9 url("../img/warning.png") no-repeat top left;
    color: #00A7E5;
    padding: 6px 20px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 14px;
    width: 400px;
    height: auto;
}

.error-message li {
    list-style: none !important;
    padding: 0 0 0 20px;
}


/* ==========================================================================
   Footer
*/
footer {
    font-size: 12px;
    color: #666666;
    text-align: center;
}

#authors {
    list-style-type: none;
    margin-bottom: 20px;
    line-height: 10px;
}

#authors li {
    display: inline;
    padding-right: 20px;
    text-decoration: none;
}

#authors li a {
    text-decoration: none;
}

#authors li a:hover {
    color: orange;
    text-decoration: none;
}

.clear-form-name {
    float: left;
}

.clear-form {
    float: left;
    margin-top: 1.5em;
}
