<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" >
<head>
<title>Login failed</title>
</head>
<body>

    <ui:define name="title">
        ${msg.login_failed}
    </ui:define>

    <ui:composition template="template.xhtml">

        <ui:define name="box">

            <ul class="error-message">
                <li>${msg.login_error}</li>
            </ul>

        </ui:define>

    </ui:composition>

</body>
</html>
