<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
    <head>
        <title>List</title>
    </head>
    <body>

        <ui:define name="title">
            ${msg.letisko}
        </ui:define>

        <ui:composition template="template.xhtml">
            <ui:define name="box">

                <div class="clearfix"></div>

                <div class="table-flights-name">

                    <h1 class="clear-form-name">${msg.lety}</h1>

                    <h:form styleClass="clear-form">
                        <h:commandLink action="let_add" styleClass="plus" rendered="#{request.isUserInRole('admins')}" />
                    </h:form>

                </div>

                <div id="table-header-detail">

                    <h:form>

                        <h:dataTable value="#{let.vsetkyLety}" var="l" styleClass="table-flights">

                            <div id="table-header">
                                <h:column>
                                    <f:facet name="header">${msg.datum}</f:facet>
                                    <h:outputText value="#{l.odlet}">
                                        <f:convertDateTime pattern="dd.MM.yyyy" />
                                    </h:outputText>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">${msg.odkud}</f:facet>
                                        #{l.destinaceStart.mesto}
                                </h:column>

                                <h:column>
                                    <f:facet name="header">${msg.kam}</f:facet>
                                        #{l.destinaceCil.mesto}
                                </h:column>

                                <h:column>
                                    <f:facet name="header">${msg.cas_vzletu}</f:facet>
                                    <h:outputText value="#{l.odlet}">
                                        <f:convertDateTime pattern="HH:mm" />
                                    </h:outputText>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">${msg.cas_pristani}</f:facet>
                                    <h:outputText value="#{l.prilet}">
                                        <f:convertDateTime pattern="HH:mm" />
                                    </h:outputText>
                                </h:column>

                                <h:column>
                                    <f:facet name="header">${msg.letadlo}</f:facet>
                                        #{l.letadlo.nazov}
                                </h:column>

                                <h:column>
                                    <f:facet name="header">${msg.letusky}</f:facet>
                                    <ui:repeat value="#{l.letusky}" var="item" varStatus="status">
                                        #{item.priezvisko}#{status.last ? '' : ','}
                                    </ui:repeat>
                                </h:column>

                                <h:column>
                                    <h:commandLink id="edit" action="let_edit" styleClass="edit" rendered="#{request.isUserInRole('admins')}">
                                        <f:setPropertyActionListener value="#{l}" target="#{let.letTO}" />
                                    </h:commandLink>
                                </h:column>

                                <h:column>
                                    <h:commandLink action="#{let.zmaz(l.getClass(), l.id)}" styleClass="trash" rendered="#{request.isUserInRole('admins')}" />
                                </h:column>

                            </div>
                        </h:dataTable>

                    </h:form>

                </div>

                <div class="clearfix"></div>

                <h:panelGroup rendered="#{request.isUserInRole('users') || request.isUserInRole('admins')}">
                    <div class="tables-in-row">

                        <div class="section-planes left">

                            <div>
                                <h2 class="clear-form-name">${msg.letadla}</h2>
                                <h:form styleClass="clear-form">
                                    <h:commandLink action="letadlo_add" styleClass="plus" rendered="#{request.isUserInRole('admins')}" />
                                </h:form>
                            </div>

                            <h:form>
                                <h:dataTable value="#{letadlo.vsetkyLetadla}" var="l" styleClass="table-entity">
                                    <h:column>
                                        <f:facet name="header">${msg.nazov}</f:facet>
                                            #{l.nazov}
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">${msg.typ}</f:facet>
                                            #{l.typ}
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">${msg.kapacita}</f:facet>
                                            #{l.kapacita}
                                    </h:column>

                                    <h:column>
                                        <h:commandLink id="edit" action="letadlo_edit" styleClass="edit" rendered="#{request.isUserInRole('admins')}">
                                            <f:setPropertyActionListener value="#{l}" target="#{letadlo.letadloTO}" />
                                        </h:commandLink>
                                    </h:column>

                                    <h:column>
                                        <h:commandLink action="#{letadlo.zmaz(l.getClass(), l.id)}" styleClass="trash" rendered="#{request.isUserInRole('admins')}" />
                                    </h:column>
                                </h:dataTable>
                            </h:form>

                        </div>

                        <div id="section-destinations" class="right">
                            <div>
                                <h2 class="clear-form-name">${msg.destinace}</h2>
                                <h:form styleClass="clear-form">
                                    <h:commandLink action="destinace_add" styleClass="plus" rendered="#{request.isUserInRole('admins')}" />
                                </h:form>
                            </div>

                            <h:form>
                                <h:dataTable value="#{destinace.vsetkyDestinace}" var="d" styleClass="table-entity">
                                    <h:column>
                                        <f:facet name="header">${msg.stat}</f:facet>
                                            #{d.stat}
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">${msg.mesto}</f:facet>
                                            #{d.mesto}
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header"></f:facet> 
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header"></f:facet> 
                                    </h:column>

                                    <h:column>
                                        <h:commandLink id="edit" action="destinace_edit" styleClass="edit" rendered="#{request.isUserInRole('admins')}">
                                            <f:setPropertyActionListener value="#{d}" target="#{destinace.destinaceTO}" />
                                        </h:commandLink>
                                    </h:column>

                                    <h:column>
                                        <h:commandLink action="#{destinace.zmaz(d.getClass(), d.id)}" styleClass="trash" rendered="#{request.isUserInRole('admins')}" />
                                    </h:column>
                                </h:dataTable>
                            </h:form>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="tables-in-row">

                        <div class="section-planes left">
                            <div>
                                <h2 class="clear-form-name">${msg.letusky}</h2>
                                <h:form styleClass="clear-form">
                                    <h:commandLink action="letuska_add" styleClass="plus" rendered="#{request.isUserInRole('admins')}" />
                                </h:form>
                            </div>

                            <h:form>
                                <h:dataTable value="#{letuska.vsetkyLetusky}" var="l" styleClass="table-entity">
                                    <h:column>
                                        <f:facet name="header">${msg.meno}</f:facet>
                                            #{l.meno}
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header">${msg.priezvisko}</f:facet>
                                            #{l.priezvisko}
                                    </h:column>

                                    <h:column>
                                        <f:facet name="header"></f:facet> 
                                    </h:column>

                                    <h:column>
                                        <h:commandLink id="edit" action="letuska_edit" styleClass="edit" rendered="#{request.isUserInRole('admins')}">
                                            <f:setPropertyActionListener value="#{l}" target="#{letuska.letuskaTO}" />
                                        </h:commandLink>
                                    </h:column>

                                    <h:column>
                                        <h:commandLink action="#{letuska.zmaz(l.getClass(), l.id)}" styleClass="trash" rendered="#{request.isUserInRole('admins')}" />
                                    </h:column>
                                </h:dataTable>
                            </h:form>

                        </div>
                    </div>
                </h:panelGroup>
            </ui:define>

        </ui:composition>

    </body>
</html>
