<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Login</title>
    </head>
    <body>

        <ui:define name="title">
            ${msg.login}
        </ui:define>

        <ui:composition template="template.xhtml">

            <ui:define name="box">

                <form name="loginForm" method="post" action="j_security_check">
                    
                    <div class="form-wrapper">
                        
                        <h1 class="heading-login">${msg.login}</h1>

                        <p id="login-info">
                            ${msg.info}
                        </p>

                        <div id="login-forms">
                            <p>
                                <span class="login-labels">${msg.username}</span> <br />
                                <input class="input-login" type="text" name="j_username" size="15" />
                            </p>

                            <p>
                                <span class="login-labels">${msg.password}</span> <br />
                                <input class="input-login" type="password" size="15" name="j_password" />
                            </p>

                            <p>
                                <input type="submit" value="${msg.login_button}" class="button-login" />
                            </p>
                        </div>
                    </div>
                </form>
            </ui:define>

        </ui:composition>

    </body>
</html>
