<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title><ui:insert name="title">Airport Manager</ui:insert></title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link href="#{request.contextPath}/css/stylesheet.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="#{request.contextPath}/img/favicon.png" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css' />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/jquery-ui-timepicker-addon.css" />
        <script type="text/javascript" src="#{request.contextPath}/css/jquery-ui-timepicker-addon.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".datepicker").datetimepicker({
                    controlType: 'select',
                    timeFormat: 'HH:mm',
                    dateFormat: "dd.mm.yy"
                });
            });
        </script>
    </h:head>

    <h:body>
        <header id="topBar">
            <a href="/pa165" id="logotype"></a>

            <div id="topLogin" class="wrapper">
                <h:form>
                    <h:commandLink action="#{security.login()}" value="#{msg.login}" rendered="#{empty request.remoteUser}" styleClass="button-signin" />
                    <h:commandLink action="#{security.logout()}" value="#{request.remoteUser} - #{msg.logout}" rendered="#{not empty request.remoteUser}" styleClass="button-signout" />
                </h:form>
            </div>
        </header>

        <div id="content" class="wrapper">
            <h:messages styleClass="error-message" />
            <ui:insert name="box">Box Content Here</ui:insert>
        </div>

        <div class="clearfix"></div>

        <footer class="wrapper">
            <hr />
            <strong>${msg.footer}</strong>

            <ul id="authors">
                <li><a href="https://is.muni.cz/auth/osoba/359593">Adam Kövári</a></li>
                <li><a href="https://is.muni.cz/auth/osoba/martin.beleja">Martin Beleja</a></li>
                <li><a href="https://is.muni.cz/auth/osoba/mpitonak">Martin Pitoňák</a></li>
                <li><a href="https://is.muni.cz/auth/osoba/430620">Marián Čepa</a></li>
            </ul>
        </footer>
    </h:body>
</html>
