<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>List</title>
    </head>
    <body>

        <ui:define name="title">
            ${msg.letuska}
        </ui:define>

        <ui:composition template="../template.xhtml">

            <ui:define name="box">

                <h:form styleClass="editContent">

                    <div class="form-wrapper">

                        <h:inputHidden value="#{letuska.letuskaTO.id}" />

                        <h2 class="heading-login">${msg.vlozeniLetusky}</h2>

                        <div class="addingForm">

                            <p>
                                <h:outputLabel for="meno" value="${msg.meno}: " /> <br />
                                <h:inputText id="meno" value="#{letuska.letuskaTO.meno}" required="true" styleClass="input-adding" />
                            </p>

                            <p>
                                <h:outputLabel for="priezvisko" value="${msg.priezvisko}: " /><br />
                                <h:inputText id="priezvisko" value="#{letuska.letuskaTO.priezvisko}" required="true" styleClass="input-adding"/> 
                            </p>

                            <p>
                                <h:commandButton value="${msg.uloz}" action="#{letuska.uloz}" styleClass="addingSave" />
                            </p>

                        </div>

                    </div>

                    <ui:remove>
                        <h:inputHidden value="#{letuska.letuskaTO.id}" />

                        <h:outputLabel for="meno" value="${msg.meno}" />
                        <h:inputText id="meno" value="#{letuska.letuskaTO.meno}" required="true"/>

                        <h:outputLabel for="priezvisko" value="${msg.priezvisko}" />
                        <h:inputText id="priezvisko" value="#{letuska.letuskaTO.priezvisko}" required="true"/>

                        <h:commandButton value="${msg.uloz}" action="#{letuska.uloz}" />
                    </ui:remove>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
