<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" >
    <head>
        <title>List</title>
    </head>
    <body>

        <ui:define name="title">
            ${msg.letadlo}
        </ui:define>

        <ui:composition template="../template.xhtml">

            <ui:define name="box">

                <h:form styleClass="editContent">

                    <div class="form-wrapper">
                        
                        <h:inputHidden value="#{letadlo.letadloTO.id}" />

                        <h2 class="heading-login">${msg.vlozeniLetadla}</h2>

                        <div class="addingForm">

                            <p>
                                <h:outputLabel for="nazov" value="${msg.nazov}: " /> <br />
                                <h:inputText id="nazov" value="#{letadlo.letadloTO.nazov}" required="true" styleClass="input-adding" />
                            </p>

                            <p>
                                <h:outputLabel for="typ" value="${msg.typ}: " /> <br />
                                <h:inputText id="typ" value="#{letadlo.letadloTO.typ}" required="true" styleClass="input-adding"/> 
                            </p>

                            <p>                                
                                <h:outputLabel for="kapacita" value="${msg.kapacita}: " /> <br />
                                <h:inputText id="kapacita" value="#{letadlo.letadloTO.kapacita}" required="true" styleClass="input-adding"/>
                            </p>

                            <p>
                                <h:commandButton value="${msg.uloz}" action="#{letadlo.uloz()}" styleClass="addingSave" />
                            </p>

                        </div>

                    </div>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
