<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <head>
        <title>List</title>
    </head>
    <body>

        <ui:define name="title">
            ${msg.destinace}
        </ui:define>

        <ui:composition template="../template.xhtml">

            <ui:define name="box">

                <h:form styleClass="editContent">


                    <div class="form-wrapper">

                        <h:inputHidden value="#{destinace.destinaceTO.id}" />

                        <h2 class="heading-login">${msg.vlozeniDestinace}</h2>

                        <div class="addingForm">

                            <p>
                                <h:outputLabel for="stat" value="${msg.stat}: " /> <br />
                                <h:inputText id="stat" value="#{destinace.destinaceTO.stat}" required="true" styleClass="input-adding" />
                            </p>

                            <p>
                                <h:outputLabel for="mesto" value="${msg.mesto}: " /><br />
                                <h:inputText id="mesto" value="#{destinace.destinaceTO.mesto}" required="true" styleClass="input-adding"/> 
                            </p>

                            <p>
                                <h:commandButton value="${msg.uloz}" action="#{destinace.uloz()}" styleClass="addingSave" />
                            </p>

                        </div>

                    </div>

                    <ui:remove>
                        <h:inputHidden value="#{destinace.destinaceTO.id}" />

                        <h:outputLabel for="stat" value="${msg.stat}" />
                        <h:inputText id="stat" value="#{destinace.destinaceTO.stat}" required="true"/>

                        <h:outputLabel for="mesto" value="${msg.mesto}" />
                        <h:inputText id="mesto" value="#{destinace.destinaceTO.mesto}" required="true"/>

                        <h:commandButton value="${msg.uloz}" action="#{destinace.uloz()}" />
                    </ui:remove>

                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
